{% extends 'padres/base.html' %}


{% block title_pagina %}
    <title>Crear persona</title>
{% endblock title_pagina %}

{% comment "" %} Primera forma de hacerlo {% endcomment %}
{% comment %} {% block mi_contenido %} {% endcomment %}
    {% comment %} <form action={% url 'crear_persona' %} method="POST">  'GET' sirve para hacer consultas/busquedas, la informacion la envia publica. 'POST' es para creacion, envia la informacion oculta en la consulta que hace.   {% endcomment %}
        {% comment %} <input type="text" placeholder="Nombre"> <br> {% endcomment %}
        {% comment %} <input type="text" placeholder="Apellido"><br> {% endcomment %}
        {% comment %} <input type="button" value="Crear"> {% endcomment %}
    {% comment %} </form> {% endcomment %}
{% comment %} {% endblock mi_contenido %} {% endcomment %}

{% block mi_contenido %}
<form action={% url 'crear_persona' %} method="POST"> 
    {% csrf_token %}  {% comment "" %} Hay que ponerlo siempre en un formulario{% endcomment %}
    <table>
        {{formulario}}
    </table>
    
    <button>Crear</button>
</form>
{% endblock mi_contenido %}
